*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #ededed;
    overflow-x: hidden;
}

aside{
    position: fixed;
    left: 0;
    top: 0;
    right: 50;
    padding: 20% 5%;
    background: #fff;
    height: 70vh;
    width: 8%;
    border-top-right-radius: 20%;
}
.aside{
    margin-top: -20%;
    border-top-right-radius: 20%;
}

.logo img{
    width: 120%;
    margin-top: 40px;
    margin-left: -20%;
}

aside a{
    text-decoration: none;
    display: flex;
    display: inline;
    margin-top: 10%;
}

.aside a{
    line-height: 2rem;
    color: black;
    margin-top: 200%;
}

.navbar p{
    line-height: 3.5rem;
    font-size: 20px;
    margin-left: 10px;
}

.navbar{
    margin-top: 60%;
    position: relative;
}

.span-1{
    background: rgb(38,81,146);
    align-items: center;
    width: 15%;
    height: 8.1vh;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -0.2%;
}

.nav-content-1 a{
    position: absolute;
    padding-bottom: 10%;
    font-size: 20px;
    margin-top: 10%;
    display: flex;
    text-align: center;
    /* margin-bottom: 20px; */
    text-decoration: none;
}

.nav-content-1 p{
    margin-top: 10px;
    position: absolute;
}

.navbar .nav-content{
    background: rgba(243,243,243);
    width: 150%;
    height: 8.1vh;
    padding-left: 80px;
    margin-left: -65%;
    margin-top: 20%;
    position: relative;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar .nav-content a{
    font-size: 20px;
    margin-top: 10%;
    margin-top: 4%;
    position: absolute;
}

.navbar .nav-content img{
    margin-top: -33px;
    margin-left: -20%;
    position: absolute;
}

.nav-content-2{
    width: 150%;
    height: 8.1vh;
    padding-left: 80px;
    margin-left: -65%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 10%;
    /* position: relative; */
}


.navbar .nav-content-1 img{
    margin-left: -50px;
    margin-top: -7px;
}

.navbar img{
    position: absolute;
    margin-left: -35%;
    display: inline;
    display: flex;
    align-items: center;
    line-height: 1rem; 
    padding-top: 20%;
    width: 20px;
    padding-left: -20px;
    margin-left: -40px;
}

/* Header Section */

.header__container h1{
    font-size: 30px;
    font-weight: 600;
    color: blue;
    font-family: 'Poppins', sans-serif;
    margin-left: 21%;
    margin-top: 2%;
}

.header__container p{
    font-size: 17px;
    color: black;
    font-family: 'Poppins', sans-serif;
    margin-left: 21%;
    margin-top: 10%;
    margin-top: 3px;
}
.unknown:hover{
    margin-left: -7%;
    margin-left: -25%;
    /* transition: ease-in 8s; */
    transition: ease-in-out 1s;
}

.header__content{
    position: relative;
    margin-top: -3%;
}

.btn-box{
    margin-left: 65%;
    background-color: green;
    width: 5%;
    height: 4vh;
    border-radius: 30px;
    border: none;
}

.unknown{
    margin-left: -1.8%;
    background-color: white;
    width: 1.4%;
    height: 3vh;
    border-radius: 80px;
    border: none;
    margin-top: 3px;
    position: absolute;
}
.header__content p{
    margin-left: 70.4%;
    color: green;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: -2.4%;
}

.header__content img{
    margin-left: 74%;
    width: 35px;
    margin-top: -50px;
}

.bell{
    animation-name: why;
    transition: 1s;
}

@keyframes why{
    0%{left: -20px}
    10%{right: 20px;}
    20%{left: -20px;}
    40%{right: 20px;}
}

.header__content-2{
    width: 21.6%;
    margin-left: 77.7%;
    height: 11vh;
    background-color: #fff;
    margin-top: -63px;
    border-radius: 60px;
    position: relative;
}

.known{
    width: 40px;
    margin-top: -5px;
    height: 7.9vh;
    margin-top: 73px;
    margin-left: 80%;
    border-radius: 50%;
    font-size: 40px;
    position: relative;
}

.known img{
    width: 60px;
    position: absolute;
    display: flex;
    margin-top: -144px;
    margin-left: -228px;
}

.known-1{
    position: relative;
}

.known-1 img{
    position: absolute;
    width: 30px;
    margin-left: 7%;
    margin-top: -190px;
}

.header__content-2 h1{
    font-size: 20px;
    color: black;
    font-weight: 700;
    padding-top: 5px;
    margin-left: 69px;
    position: absolute;
    padding-top: 7px;
}

.header__content-con{
    /* margin-top: -30px; */
    position: relative;
}

.header__content-2 p{
    position: absolute;
    padding-bottom: 24px;
    bottom: 0;
    margin-top: 10%;
}

.header__content-con select{
    margin-left: 94%;
    /* margin-top: -40px; */
    margin: 0px 20% 30px 85%;
    border: none;
    margin-top: 11%;
}

.come{
    margin-top: -40px;
}

.header__content-2 p{
    color: black;
    padding-top: -20px;
    margin-top: 10px;
    padding-left: 10px;

}


.main__container{
    width: 40%;
    height: 35vh;
    background-color: #fff;
    margin-left: 19.5%;
    position: relative;
    margin-top: 70px;
    border-radius: 20px;
}

.main__container p{
    padding-top: 10%;
    padding-left: 10%;
    font-weight: 300;
}

.main__container h1{
    padding-left: 10%;
    padding-top: 10px;
}

.main__content-1{
    margin-top: -10%;
    position: relative;
}

.btn-box-2{
    margin-left: 80%;
    margin-top: -12px;
    width: 15%;
    height: 4vh;
    background: #ededed;
    border: 1px solid;
    position: absolute;
    
}

.btn-box-2 select{
    border: none;
    background-color: #ededed;
}

.fund{
    width: 25%;
    margin-left: 20px;
    margin-top: 15%;
    height: 6vh;
    padding-right: 30px;
    border: none;
    color: #fff;
    background-color: #244C8A;
    border-radius: 5px;
}

.make{
    margin-left: 10%;
    width: 25%;
    height: 6vh;
    padding-right: 30px;
    background-color: #009494;
    border: none;
    color: #fff;
    border-radius: 5px;
}

.main__content button{
    position: relative;
}

.main__content img{
    width: 20px;
    padding-left: 16px;
    align-items: center;
    position: absolute;
    margin-top: -5px;
    color: #fff;
}

.atm-cards{
    position: relative;
}

.atm-cards img{
    position: absolute;
    width: 80%;
    margin-left: 105%;
    margin-top: -35%;
}

.atm-card-1{
    position: relative;
}

.atm-card-1 img{
    position: absolute;
    width: 67%;
    height: 30vh;
    margin-left: 129%;
    margin-top: -27%;
}

.next__section{
    position: fixed;
    position: relative;
    width: 100%;
    height: 55vh;
    background-color: #fff;
    margin-top: 60px;
    border-radius: 20px;
    margin-top: 15%;
    margin-left: -1px !important;
}

.next__section h1{
    font-size: 25px;
    margin-top: 15px;
    position: absolute;
}

.next__section-1 img{
    width: 30%;
    position: absolute;
    margin-top: 17%;
    padding-left: 80px;
}

.next__section-1{
    position: relative;
}

.next__section-1 .p-1{
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-left: 50%;
    margin-top: 13%;
    position: absolute;
}

.next__section-1 .p-2{
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-left: 50%;
    margin-top: 25%;
    position: absolute;
}

.next__section-1 .s-1{
    width: 28%;
    height: 4vh;
    background-color: #009494;
    margin-left: 45%;
    position: absolute;
    border-radius: 30px;
}

.next__section-1 .s-2{
    width: 25%;
    height: 4vh;
    background-color: #244C8A;
    margin-left: 30%;
    position: absolute;
    border-radius: 30px;
    margin-top: -4px;
}

.contents{
    position: relative;
}

.contents p{
    position: absolute;
    margin-top: 45%;
    margin-left: -5px;
    font-weight: bold;
}

.contents h1{
    position: absolute;
    margin-top: 60%;
    margin-left: 1px;
}

.content-2 p{
    position: absolute;
    margin-top: 45%;
    margin-left: 47%;
    font-weight: bold;
}

.content-2 h1{
    position: absolute;
    margin-top: 60%;
    margin-left: 47%;
}

.ruin{
    position: relative;
    margin-top: -33%;
}

.ruin img{
    width: 97%;
    margin-left: 103%;
    margin-top: -36.5%;
    height: 54vh;
    border-radius: 20px;
}

.cool{
    margin-top: 2%;
    margin-left: 15px;
    font-size: 15px;
    position: absolute;
}

.cool-2 h1{
    position: absolute;
    font-size: 25px;
    margin-left: -10px;
    color: #009494;
    padding-top: 20px;
}

.cool button{
    margin-left: 20%;
}

.cool-2 .btn-box-4{
    margin-top: 2%;
    width: 15%;
    height: 5vh;
    margin-left: 75%;
    position: absolute;
    align-items: center;
    text-align: center;
}

.cool-2 .btn-box-4 select{
    border: none;
}

.show{
    width: 15px;
    text-decoration: none;
    background: none;
    border: none;
    color: black;
    margin-right: -10px;
}

.come{
    color: black;
    font-size: 20px;
}

.cool-1 .btn-box-5{
    margin-top: 2%;
    width: 15%;
    height: 5vh;
    margin-left: 55%;
    position: absolute;
    align-items: center;
    text-align: center;
}

.cool-1 .btn-box-5 select{
    border: none;
    background-color: #ededed;
}

.charts{
    width: 100%;
    height: 65vh;
    background-color: #fff;
    margin-left: -1%;
    margin-top: 8%;
    border-radius: 20px;
    position: relative;
}

.numbers{
    position: relative;
}

.ul{
    display: block;
}

#payin-1{
    position: absolute;
    line-height: 5rem;
}

#payin-hr-1{
    width: 72%;
    margin-top: 17%;
    position: absolute;
    margin-left: 18%;
}

#payin-2{
    position: absolute;
    line-height: 10rem;
}

#payin-hr-2{
    width: 72%;
    margin-top: 24%;
    position: absolute;
    margin-left: 18%;
}

#payin-3{
    position: absolute;
    line-height: 15rem;
}

#payin-hr-3{
    width: 72%;
    margin-top: 32%;
    position: absolute;
    margin-left: 18%;
}

#payin-4{
    position: absolute;
    line-height: 20rem;
}

#payin-hr-4{
    width: 72%;
    margin-top: 39%;
    position: absolute;
    margin-left: 18%;
}

#payin-5{
    position: absolute;
    line-height: 25rem;
}

#payin-hr-5{
    width: 72%;
    margin-top: 37%;
    position: absolute;
    margin-left: 18%;
}

#payin-6{
    position: absolute;
    line-height: 24rem;
}

#payin-hr-6{
    width: 72%;
    margin-top: 45%;
    position: absolute;
    margin-left: 18%;
}

#payin-7{
    position: absolute;
    line-height: 30rem;
}

#payin-hr-7{
    width: 72%;
    margin-top: 54%;
    position: absolute;
    margin-left: 18%;
}

#payin-8{
    position: absolute;
    line-height: 35rem;
    margin-left: 10px;
}

#payin-hr-8{
    width: 72%;
    margin-top: 61.5%;
    position: absolute;
    margin-left: 18%;
}


.stressed{
    position: relative;
    width: 300px;
}

#payin-s-1{
    position: absolute;
    margin-top: 66%;
    background-color: #009494;
    margin-left: 32.1%;
    height: 15.3vh;
}

#payin-s-2{
    position: absolute;
    margin-top: 13%;
    background-color: #009494;
    margin-left: 50%;
    height: 38.7vh;
}

#payin-s-3{
    position: absolute;
    margin-top: 52%;
    background-color: #009494;
    margin-left: 70%;
    height: 21.4vh;
}

#payin-s-4{
    position: absolute;
    margin-top: 25%;
    background-color: #009494;
    margin-left: 88%;
    height: 33.3vh;
}

#payin-s-5{
    position: absolute;
    margin-top: 48%;
    background-color: #009494;
    margin-left: 107%;
    height: 23.4vh;
}

#payin-s-6{
    position: absolute;
    margin-top: 39.5%;
    background-color: #009494;
    margin-left: 125%;
    height: 27.1vh;
}

#payin-s-7{
    position: absolute;
    margin-top: 52%;
    background-color: #009494;
    margin-left: 144%;
    height: 21.4vh;
}


.cook{
    margin-top: 2%;
    margin-left: 15px;
    font-size: 15px;
    position: absolute;
}

.cook-2 h1{
    position: absolute;
    font-size: 25px;
    margin-left: -10px;
    color: #265192;
    padding-top: 20px;
}

.cook button{
    margin-left: 20%;
}

.cook-2 .btn-box-4{
    margin-top: 2%;
    width: 15%;
    height: 5vh;
    margin-left: 75%;
    position: absolute;
    align-items: center;
    text-align: center;
}

.cook-2 .btn-box-4 select{
    border: none;
}

.show{
    width: 15px;
    text-decoration: none;
    background: none;
    border: none;
    color: black;
    margin-right: -10px;

}

.come{
    color: black;
    font-size: 20px;
}

.cook-1 .btn-box-5{
    margin-top: 2%;
    width: 15%;
    height: 5vh;
    margin-left: 55%;
    position: absolute;
    align-items: center;
    text-align: center;
}

.cook-1 .btn-box-5 select{
    border: none;
}

.charls{
    width: 100%;
    height: 65vh;
    background-color: #fff;
    margin-left: 102%;
    margin-top: -16%;
    border-radius: 20px;
    position: relative;
}

.sumbers{
    position: relative;
}

.ul{
    display: block;
}

#payout-1{
    position: absolute;
    line-height: 5rem;
}

#payout-hr-1{
    width: 72%;
    margin-top: 17%;
    position: absolute;
    margin-left: 18%;
}

#payout-2{
    position: absolute;
    line-height: 10rem;
}

#payout-hr-2{
    width: 72%;
    margin-top: 24%;
    position: absolute;
    margin-left: 18%;
}

#payout-3{
    position: absolute;
    line-height: 15rem;
}

#payout-hr-3{
    width: 72%;
    margin-top: 32%;
    position: absolute;
    margin-left: 18%;
}

#payout-4{
    position: absolute;
    line-height: 20rem;
}

#payout-hr-4{
    width: 72%;
    margin-top: 39%;
    position: absolute;
    margin-left: 18%;
}

#payout-5{
    position: absolute;
    line-height: 25rem;
}

#payout-hr-5{
    width: 72%;
    margin-top: 37%;
    position: absolute;
    margin-left: 18%;
}

#payout-6{
    position: absolute;
    line-height: 24rem;
}

#payout-hr-6{
    width: 72%;
    margin-top: 45%;
    position: absolute;
    margin-left: 18%;
}

#payout-7{
    position: absolute;
    line-height: 30rem;
}

#payout-hr-7{
    width: 72%;
    margin-top: 54%;
    position: absolute;
    margin-left: 18%;
}

#payout-8{
    position: absolute;
    line-height: 35rem;
    margin-left: 10px;
}

#payout-hr-8{
    width: 72%;
    margin-top: 61.5%;
    position: absolute;
    margin-left: 18%;
}


.blessed{
    position: relative;
    width: 300px;
}

#payout-s-1{
    position: absolute;
    margin-top: 66%;
    background-color: #265192;
    margin-left: 32.1%;
    height: 15.3vh;
}

#payout-s-2{
    position: absolute;
    margin-top: 13%;
    background-color: #265192;
    margin-left: 50%;
    height: 38.7vh;
}

#payout-s-3{
    position: absolute;
    margin-top: 52%;
    background-color: #265192;
    margin-left: 70%;
    height: 21.4vh;
}

#payout-s-4{
    position: absolute;
    margin-top: 25%;
    background-color: #265192;
    margin-left: 88%;
    height: 33.3vh;
}

#payout-s-5{
    position: absolute;
    margin-top: 48%;
    background-color: #265192;
    margin-left: 107%;
    height: 23.4vh;
}

#payout-s-6{
    position: absolute;
    margin-top: 39.5%;
    background-color: #265192;
    margin-left: 125%;
    height: 27.1vh;
}

#payout-s-7{
    position: absolute;
    margin-top: 52%;
    background-color: #265192;
    margin-left: 144%;
    height: 21.4vh;
}